.hello, .hi{
    background-color: antiquewhite;
    color: red;
    margin: 10%;
    padding: 10%;
    height: 10%;
    width: 10%;
    text-align: center;
    border-radius: 45%;
}

body{
    background-color: black;
}
